[submodule "libs/lvgl"]
	path = libs/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "esp_idf/components/arduino"]
	path = esp_idf/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
